.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#game {
  display: flex;
  flex-direction: column;
}
.lineV{
  padding-right:0 ;
  color: black;
}
.turnred:hover {
  background-color: red;
}
.turnblue:hover {
  background-color: blue;
}
.testdiv {
}
.row {
  padding-right:0;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: green;
}

.lineblack{
  background-color: black;
  width: 3px;
}

.lineblue{
  background-color: blue;
  width: 3px;
}
.linered{
  background-color: red;
  width: 3px;
}
.lineH{
  background-color: black;
  height: 3px;
}

.box {
  float: left; /*Задаем обтекание*/
  font-size: 40px;
  text-align: center;
}

.horizContainer {
  height: 4px;
  width: 25px;
  border: 2px;
}
.horizonred{
  background-color: black;
}

.verticalred{
  background-color: black;
}

.vertContainer {
  height: 25px;
  width: 4px;
  border: 2px;
}

#board {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  margin: 10px
}

#header {
  padding:10px 50px;
  margin:10px
}
#body{
  background-color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
